body {
	color: #555;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 10px;
	line-height: 1.5em;
	text-transform: inherit;
	background-color: #EEE;
	background-image: url('/lyrics-match/p-asset/image/ui-icon/bg.jpg');
	background-repeat: repeat;
	min-width: 1040px;
}
footer, footer > p {
	font-size: 1.1em;
}
footer {
	clear: both;
	text-align: center;
	padding: 20px 0px 20px 0px;
	border-top: 1px dotted #CCC;
}

/* overwrite layout block style */
#main-board {
   padding-top: 38px;
   background-color: #fff;
}
.container {
   width: 1040px;
}
.row {
   margin-left: 0px;
}
#content {
   min-height: 500px;
}
#logo .brand {
	font-weight: 500;
}

/* overwrite nav style */
.navbar-fixed-top {
   margin-bottom: 0px;
}
.navbar .divider-vertical {
   margin: 0px;
}
.nav-collapse .nav {
   font-size: 1.4em;
}
ul.nav {
   -webkit-padding-start: 0px;
}
.navbar .nav > li > a{
   padding: 11px 15px 11px 15px;
}
.navbar .nav .active > a {
   color: #fff;
   background-color: #000;
}
.navbar .nav >li > a:hover{
   color:#fff;
   background-color: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-menu {
   -webkit-border-radius: 4px 4px 10px 10px;
   -moz-border-radius: 4px 4px 10px 10px;
   border-radius: 4px 4px 10px 10px;
}
.dropdown-menu .divider {
   margin: 0px;
   border: 0px;
}

.dropdown-menu a {
   color: #36c;
   font-size: 1.2em;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #36c;
}
.navbar .dropdown-menu li > h4,.navbar .dropdown-menu li > div{
   font-size: 1.2em;
   padding: 3px 15px;
}
.navbar .dropdown-menu li > div a {
   display: inline;
}
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle {
   background-color: black;
}
.dropdown .icon-caret{
   margin-left: 5px;
}

/* overwrite box style */
#p-modal-block {
   width: 100%;
   position: fixed;
}
#p-modal-block .modal {
   background-color: transparent;
   padding: 6px;
   background-image: url('/lyrics-match/p-asset/image/ui-icon/opacity-bg.png');
   margin-left: auto;
   margin-right: auto;
   position: relative;
}
#p-modal-block .modal-header {
   background-color: #2C2C2C;
   background-image: -moz-linear-gradient(top, #333, black);
   background-image: -ms-linear-gradient(top, #333, black);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(black));
   background-image: -webkit-linear-gradient(top, #333, black);
   background-image: -o-linear-gradient(top, #333, black);
   background-image: linear-gradient(top, #333, black);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
   -webkit-border-top-left-radius: 6px;
   -webkit-border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   -moz-border-radius-topright: 6px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   padding: 7px 15px;
}
#p-modal-block .modal-header h3 {
   color: #fff;
   margin: 0px;
}
#p-modal-block .modal-body {
   background-color: #fff;
}
#p-modal-block .modal-footer {
   padding: 10px;
}
#p-modal-block .modal-footer .btn {
   float: none;
}
#p-modal-block form {
   margin: 0px;
}

/* system message */
#system-message {
   color: white;
   padding-top: 10px;
   background-color: #D40000;
   position: fixed;
   z-index: 1000000;
   top: 40px;
   left: 0px;
   width: 100%;
   height: 30px;
   font-size: 1.6em;
   text-align: center;
   display: none;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 0.9em; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* utility */
.font-bold {
   font-weight: bold;
}
.flow-right {
   float: right;
}
.flow-left {
   float: left;
}
.align-center {
   text-align:center;
}
.padding-all {
	padding: 10px;
}
/* fix style on bottom */
.clearfix {
   display: inline-block;
}
.clearboth {
   clear: both;
}
.fix-margin-right {
   margin-right: 0px;
}
.fix-margin-top {
   margin-top: 0px;
}

/* media style */
@media (max-width: 980px) {
   #main-board {
      padding-top: 0px;
   }
   #system-message {
      top: 0px;
   }
   #p-modal-block {
      width: 100%;
      position: static;
   }
   #p-modal-block .modal {
      margin-left: 0px;
      margin-right: 0px;
      position: absolute;
      top: 20%;
      left: 27%;
   }
   #p-modal-block .modal .fade {
     -webkit-transition: opacity .3s linear, top .3s ease-out;
     -moz-transition: opacity .3s linear, top .3s ease-out;
     -ms-transition: opacity .3s linear, top .3s ease-out;
     -o-transition: opacity .3s linear, top .3s ease-out;
     transition: opacity .3s linear, top .3s ease-out;
     top: -25%;
   }
   #p-modal-block .modal.fade.in {
     top: 20%;
     margin-top: 0px;
   }
}